.Header {
    width: 100%;
    height: 350px;
    position: relative;
}

.Header-bg-title {
    position: absolute;
    z-index: 4;
    height: auto;
    width: 100%;
    top: 125px;
}

.Header-bg-title-container {
    height: 100px;
    width: 30%;
    border-radius: 15px;
    background-color: rgba(247, 108, 108, 0.7);
    margin: auto;
}

.Header-title {
    position: absolute;
    width: inherit;
    padding: 10px;
    color: whitesmoke;
}

.Header-bg {
    width: 100%;
    height: 100%;
    position: inherit;
    z-index: 1;
}