.App {
  text-align: center;
  font-family: 'Varela Round';
}

.App-body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60%;
  margin: auto;
  justify-content: center;
}

h3 {
  display: flex;
  margin: 15px;
  color: rgb(247, 108, 108);
}
